<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="UTF-8"></meta>
    <title>ueditor demo</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
      <!-- 配置文件 -->
    <script type="text/javascript" src="/js/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/js/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript" charset="utf-8" src="/js/lang/zh-cn/zh-cn.js"></script>

    <style type="text/css">
        div{
            width:100%;
        }
    </style>
</head>

<body>
<div>
    <script id="editor" type="text/plain" style="width:1024px;height:500px;"></script>
</div>
  
</body>
	<img alt="test" src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQFO8TwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAyYU9oWTU1SVhjbjMxMDAwMDAwN3QAAgTvTspYAwQAAAAA"/>
 <script type="text/javascript">
        var ue = UE.getEditor('editor');
 </script>
</html>